<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--link rel="stylesheet" href="css/bootstrap.min.css"-->
  <link rel="stylesheet" href="css/main.css">
  <title>Daliy News</title>
</head>
<body>
  <div class="container">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html"></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">国内</a></li>
        <li><a href="#">国际</a></li>
        <li><a href="#">社会</a></li>
        <li><a href="#">读书</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">登录</a></li>
        <li id="register" ><a href="#">注册</a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <div class="list-group side-bar">
        <a href="#" class="list-group-item active">Python</a>
        <a href="#" class="list-group-item">Php</a>
        <a href="#" class="list-group-item">Bootstrap</a>
        <a href="#" class="list-group-item">java</a>
        <a href="#" class="list-group-item">渗透</a>
        <a href="#" class="list-group-item">Django</a>
        <a href="#" class="list-group-item">读书</a>
      </div>
    </div>

    <div class="col-sm-7 show-main">
      <div class="news-list">
        <div class="news-list-item clearfix">
          <div class="col-xs-4">
            <a href="#"><img src="img/python.png" alt="showTime"></a>
          </div>
          <div class="col-xs-8 show-main">
            <div class="title">
              <a href="#">python爬虫从入门到入土bulabualualj python  nnahgadghl</a>
            </div>
            <div class="info">
              <span><a href="#" class="glyphicon glyphicon-user">snailpy</a></span>
              <span class="glyphicon glyphicon-comment">25k</span>
              <span class="glyphicon glyphicon-thumbs-up">10K</span>
              <span>10分钟前</span>
            </div>
            <div class="bref">
              该篇文章将会带你从0开始学习python爬虫，循序渐进的带领你领略python的乐趣，从python小白到python
            </bref>
          </div>
        </div>
      </div>
    </div>

    <div class="news-list">
      <div class="news-list-item clearfix">
        <div class="col-xs-4">
          <a href="#"><img src="img/php.png" alt="showTime"></a>
        </div>
        <div class="col-xs-8 show-main">
          <div class="title">
            <a href="#">python爬虫从入门到入土bulabualualj python  nnahgadghl</a>
          </div>
          <div class="info">
            <span><a href="#" class="glyphicon glyphicon-user">snailpy</a></span>
            <span class="glyphicon glyphicon-comment">25k</span>
            <span class="glyphicon glyphicon-thumbs-up">10K</span>
            <span>10分钟前</span>
          </div>
          <div class="bref">
            该篇文章将会带你从0开始学习python爬虫，循序渐进的带领你领略python的乐趣，从python小白到python
          </bref>
        </div>
      </div>
    </div>
  </div>

  <div class="news-list">
    <div class="news-list-item clearfix">
      <div class="col-xs-4">
        <a href="#"><img src="img/django.png" alt="showTime"></a>
      </div>
      <div class="col-xs-8 show-main">
        <div class="title">
          <a href="#">python爬虫从入门到入土bulabualualj python  nnahgadghl</a>
        </div>
        <div class="info">
          <span><a href="#" class="glyphicon glyphicon-user">snailpy</a></span>
          <span class="glyphicon glyphicon-comment">25k</span>
          <span class="glyphicon glyphicon-thumbs-up">10K</span>
          <span>10分钟前</span>
        </div>
        <div class="bref">
          该篇文章将会带你从0开始学习python爬虫，循序渐进的带领你领略python的乐趣，从python小白到python
        </bref>
      </div>
    </div>
  </div>
</div>

<div class="news-list">
  <div class="news-list-item clearfix">
    <div class="col-xs-4">
      <a href="#"><img src="img/java.png" alt="showTime"></a>
    </div>
    <div class="col-xs-8 show-main">
      <div class="title">
        <a href="#">python爬虫从入门到入土bulabualualj python  nnahgadghl</a>
      </div>
      <div class="info">
        <span><a href="#" class="glyphicon glyphicon-user">snailpy</a></span>
        <span class="glyphicon glyphicon-comment">25k</span>
        <span class="glyphicon glyphicon-thumbs-up">10K</span>
        <span>10分钟前</span>
      </div>
      <div class="bref">
        该篇文章将会带你从0开始学习python爬虫，循序渐进的带领你领略python的乐趣，从python小白到python
      </bref>
    </div>
  </div>
</div>
</div>

<div class="news-list">
  <div class="news-list-item clearfix">
    <div class="col-xs-4">
      <a href="#"><img src="img/bootstrap.png" alt="showTime"></a>
    </div>
    <div class="col-xs-8 show-main">
      <div class="title">
        <a href="#">python爬虫从入门到入土bulabualualj python  nnahgadghl</a>
      </div>
      <div class="info">
        <span><a href="#" class="glyphicon glyphicon-user">snailpy</a></span>
        <span class="glyphicon glyphicon-comment">25k</span>
        <span class="glyphicon glyphicon-thumbs-up">10K</span>
        <span>10分钟前</span>
      </div>
      <div class="bref">
        该篇文章将会带你从0开始学习python爬虫，循序渐进的带领你领略python的乐趣，从python小白到python
      </bref>
    </div>
  </div>
</div>
</div>

  </div>

    <div class="col-sm-3">
      <div class="search-bar">
        <input type="search" class="form-control">
      </div>
      <div class="side-bar-card flag clearfix">
        <div class="col-xs-5">
          <img src="img/logo.jpg" alt="">
        </div>
        <div class="col-xs-7">
          <div class="text-lg">有害信息举报专区</div>
          <div>举报电话：12377</div>
        </div>
      </div>
      <div class="side-bar-card">
        <div class="card-title">24小时热文</div>
        <div class="card-body">
          <div class="list">
            <div class="item">
              <div class="titl">Lorem ipsum dolor sit amet, consectetur adiente architecto repellat?</div>
              <div class="desc">15k阅读 1k评论</div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="list">
            <div class="item">
              <div class="titl">Lorem ipsum dolor sit amet, consectetur adiente architecto repellat?</div>
              <div class="desc">15k阅读 1k评论</div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="list">
            <div class="item">
              <div class="titl">Lorem ipsum dolor sit amet, consectetur adiente architecto repellat?</div>
              <div class="desc">15k阅读 1k评论</div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="list">
            <div class="item">
              <div class="titl">Lorem ipsum dolor sit amet, consectetur adiente architecto repellat?</div>
              <div class="desc">15k阅读 1k评论</div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="list">
            <div class="item">
              <div class="titl">Lorem ipsum dolor sit amet, consectetur adiente architecto repellat?</div>
              <div class="desc">15k阅读 1k评论</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
