{% extends '../base.html' %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="container container-small">
      <form action="{% url 'account:login' %}" method="post" >{% csrf_token %}
        <h1>登录
          <small>没有账号？<a href="{% url 'account:register' %}">注册</a></small>
        </h1>
        <div class="form-group">
            <div class="alert-danger" style="margin-bottom:10px; border-radius:5px" >{{ errors }}</div>  
        <label>用户名</label>
          {{ form.username }}
        </div>
        <div class="form-group">
          <label>密码</label>
          {{ form.password }}
        </div>
        <div class="form-group">
          <a href="{% url 'account:password_reset' %}">忘密码？</a>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">登录</button>
        </div>
      </form>
    </div>


{% endblock %}
