{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% load staticfiles %}

{% load poll_extras %}

    {% if info_category %}
        <div class="col-sm-9">
            <h2 style="text-align:center; padding-top:40px">{{info_category}}</h2>
        </div>
    {% endif %}
    {% if columns %}
    <div class="col-sm-2">
      <div class="list-group side-bar">
        {% for item in columns %}
            {% if item.column == column.column %}
                <a href="{% url 'account:my_blog_list' column.id %}" class="list-group-item active">{{ column.column }}</a>
            {% else %}
                <a href="{% url 'account:my_blog_list' item.id %}" class="list-group-item">{{ item.column }}</a>
            {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if articles %}
    <div class="col-sm-6 show-main">
        {% for item in articles %}
        <div class="news-list-item clearfix">
          <div class="col-xs-4">
            <a href="{% url 'blog:article_detail' item.id %}"><img src="{% static 'img/python.png' %}" alt="showTime"></a>
          </div>
          <div class="col-xs-8 show-main">
            <div class="title">
              <a href="{% url 'blog:article_detail' item.id %}">{{ item.title }}</a>
            </div>
            <div class="info">
              <span><a href="#" class="glyphicon glyphicon-user">{{ item.author }}</a></span>
              <span class="glyphicon glyphicon-comment">25k</span>
              <span class="glyphicon glyphicon-thumbs-up">10K</span>
              <span>{{ item.c_date }}</span>
            </div>
            <div class="bref">
              {{ item.bref }}
            </div>
          </div>
        </div>
       {% endfor %}
        <hr>
<nav aria-label="Page navigation">
  <ul class="pagination">

    {% if cus_list.has_previous %}
     <li>
         <a href="?page={{ cus_list.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</sapn>
         </a>
     </li>
    {% endif %}


    {% for pg in cus_list.paginator.page_range %}
        {% circle_page cus_list.number pg %}
    {% endfor %}


    {% if cus_list.has_next %}
        <li>
            <a href="?page={{ cus_list.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
  </ul>
</nav>
        

    </div>
    {% elif info_column %}
        <div class="col-sm-7 show-main">
            <h3 style="padding-top:40px; text-align:center ">{{info_column}}</h3>
        </div>
    {% endif %}

    <div class="col-sm-4">
      <div class="side-bar-card flag clearfix">
        <div class="col-xs-5">
          <img src="img/logo.jpg" alt="">
        </div>
        <div class="col-xs-7">
          <div class="text-lg">有害信息举报专区</div>
          <div>举报电话：12377</div>
        </div>
      </div>
      <div class="side-bar-card">
        <div class="card-title">24小时热文</div>
        <div class="card-body">
          <div class="list">
            <div class="item">
              <div class="titl">Lorem ipsum dolor sit amet, consectetur adiente architecto repellat?</div>
              <div class="desc">15k阅读 1k评论</div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
